    .nav {
        display: flex;
        align-items: center;
        height: 7vh;
        background-color: #000814;
    }
    
    .container-fluid {
        background-color: #001d3d;
        color: #F4F6FF;
    }
    
    .bio {
        height: 75vh;
    }
    
    .biodata {
        display: flex;
        align-items: center;
        align-content: center;
    }
    
    .des {
        background-color: white;
    }
    
    .square {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        background-position: center;
    }
    
    .container {
        align-items: stretch;
    }
    
    .judul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        background-color: #127681;
    }
    
    .contact {
        background-color: #000814;
        justify-content: center;
        padding: 5vh;
    }
    
    .kepala {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .ig {
        color: blue;
        width: 5vw;
    }
    
    .linkin {
        color: aliceblue;
        width: 5vw;
    }
    
    .line {
        color: lime;
        width: 5vw;
    }
    
    .twitter {
        color: aqua;
        width: 5vw;
    }
    
    .tales {
        width: 100%;
    }
    
    .carousel-inner {
        height: 100%;
        max-width: 759.6px;
    }
    
    .halaman {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .logo {
        height: 6vh;
    }